@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-block margin-top-20"><span class="glyphicon glyphicon-ok-sign "></span>Sign</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-block margin-top-20"><span class="glyphicon glyphicon-apple"></span>Apple</a></div>
</div>
<div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-block margin-top-20"><span class="glyphicon glyphicon-bookmark"></span>Bookmark</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-block margin-top-20"><span class="glyphicon glyphicon-chevron-right"></span>Right</a></div>
</div>
<div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-block margin-top-20"><span class="glyphicon  glyphicon-camera"></span>Camera</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-block margin-top-20"><span class="glyphicon glyphicon-dashboard "></span>Dashboard</a></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Join Us.</h2>
        <p>

        </p>
        <p>
            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>More Info</h2>
        <p></p>
        <p>@Html.ActionLink("Login", "Login", "Account", new { id = 1 }, new { @class = "btn btn-default" }) </p>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        My Email is leon@163.com. You can follow me on @@twitter.
        @{
            var amounts = new List<Decimal> { 23.23m, 123, -454, 34, -43 };
            <ul>
                @foreach (decimal item in amounts)
                {
                    <li>@formartAmount(item)</li>
                    <text>plain text</text>
                    @:plain text
                }
            </ul>
        }
    </div>
</div>

@*直接定义方法*@
@helper formartAmount(decimal amount)
{
var color = "green";
if (amount < 0)
{
    color = "red";
}
    <span style="color:@color">@String.Format("{0:c}", amount)</span>
}

@section scripts {
    <script> console.log('log in index')</script>
}